<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="Vali is a responsive and free admin theme built with Bootstrap 4, SASS and PUG.js. It's fully customizable and modular.">
    <!-- Twitter meta-->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="@pratikborsadiya">
    <meta property="twitter:creator" content="@pratikborsadiya">
    <!-- Open Graph Meta-->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Vali Admin">
    <meta property="og:title" content="Vali - Free Bootstrap 4 admin theme">
    <meta property="og:url" content="http://pratikborsadiya.in/blog/vali-admin">
    <meta property="og:image" content="http://pratikborsadiya.in/blog/vali-admin/hero-social.png">
    <meta property="og:description" content="Vali is a responsive and free admin theme built with Bootstrap 4, SASS and PUG.js. It's fully customizable and modular.">
    <title>User's Profile</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="admin/assets/img/favicon.png" rel="icon">
    <link href="admin/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="admin/css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">        

    <style>
        .app-header__logo {
            font-weight: 900;
            font-size: 27px;
            font-family: Roboto;
            background-color: #283747;
        }
        .app-sidebar__toggle:focus, .app-sidebar__toggle:hover {
            background-color:#5D6D7E;
        }
        .app-header{
            background-color:  #34495E;
        }
        .app-menu__item:hover{
            background-color: #808B96;
        }
        .app-menu__item:focus{
            background-color: #808B96;
        }
        .app-menu__item.active{
            background-color: #566573!important;
        }
        .app-sidebar{
            background-color: #34495E;
        }
        .treeview.is-expanded [data-toggle='treeview']{
            background:   #AEB6BF;
        }
        .treeview-item {
            background:  #555555;
            padding-left: 60px;
        }
        .treeview-item:hover {
            background-color: #808B96;
        }
        main{background-color:#f5f5f5!important; }
        a {
            color: white;}
        
        input.hidden {
            position: absolute;
            left: -9999px;
        }

        #profile-image1 {
            cursor: pointer;

            width: 100px;
            height: 100px;
            border:2px solid white ;}
        .tital{ font-size:16px; font-weight:500;}
        .bot-border{ border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0}
        body {background-color: #f5f5f5!important;
        }
        .panel-heading {text-align: center; font-size: 25px; font-weight: 500}
        .tital {color: orange}
        .top {background-color: grey; color: orange; font-weight: 400}
        .pic img {
            border: .5px solid green;
            border-radius: 10px;
            padding: 2px;
        }
        h3 {font-weight: bold;}
        .thumbnail img {
            height: 150px;
        }
    </style>
</head>
<body class="app sidebar-mini">
<!-- Navbar-->
<header class="app-header"><a class="app-header__logo" href="#">OptimalLegal</a>
    <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
    <!-- Navbar Right Menu-->
    <ul class="app-nav">
        <li class="app-search">
            <input class="app-search__input" type="search" placeholder="Search">
            <button class="app-search__button"><i class="fa fa-search"></i></button>
        </li>
    </ul>
</header>
<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    <div class="app-sidebar__user"><i class="fa fa-lg fa-fw fa-user"></i>
        <div>
            <p class="app-sidebar__user-name">ADMIN</p>
        </div>
    </div>
    <ul class="app-menu">
        <li><a class="app-menu__item active" href="/admin_dashboard"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Dashboard</span></a></li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-user"></i><span class="app-menu__label">View Users</span><i class="treeview-indicator fa fa-angle-right"></i></a>
            <ul class="treeview-menu">
                <li><a class="treeview-item" href="/admin_manageuser"> Manage User</a></li>
            </ul>
            <!--<li class="treeview"><a class="app-menu__item" href="Payment.html" data-toggle="treeview"><i class="app-menu__icon fa fa-dollar"></i><span class="app-menu__label"> Payment </span></a>-->
        <li><a class="app-menu__item active" href="/admin_payment"><i class="app-menu__icon fa fa-dollar"></i><span class="app-menu__label">Payment</span></a></li>
        <!--<li class="treeview"><a class="app-menu__item" href="Upload%20Properties.html" data-toggle="treeview"><i class="app-menu__icon fa fa-home"></i><span class="app-menu__label"> Upload Properties </span></a>-->
        <!--</li>-->
        <li><a class="app-menu__item active" href="/admin_uploadproperty"><i class="app-menu__icon fa fa-home"></i><span class="app-menu__label">Upload Properties</span></a></li>
        <li><a class="app-menu__item active" href="/products_list"><i class="app-menu__icon fa fa-home"></i><span class="app-menu__label">Manage Properties</span></a></li>
        <li><a class="app-menu__item active" href="/admin_logout"><i class="app-menu__icon fa fa-sign-out"></i><span class="app-menu__label">Log out</span></a></li>
        </li>
    </ul>
</aside>
<main class="app-content">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-file-text-o"></i>User's Profile</h1>

        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="#">User's Profile</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-7 ">

            <div class="panel panel-default">
                <div class="panel-heading">  <h4 style="color:#00b1b1;" >User's details</h4></div>
                <div class="panel-body">

                    <div class="box box-info">

                        <div class="box-body">
                            <div class="col-sm-6">
                                <div  text-align="center"> <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">
                                </div>

                                <br>

                                <!-- /input-group -->
                            </div>
                            <div class="col-sm-6">
                                <h4 style="color:#00b1b1;"><%= user.username%> </h4></span>
                            </div>
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">
                            <div class="row">
                                <div class="col-sm-5 col-xs-6 tital" >Username</div><div class="col-sm-7 col-xs-6 "><%= user.username%> </div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-xs-6 tital " >E-mail</div><div class="col-sm-7 col-xs-6 "> <%= user.email%> </div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                            </div>
                            
                            <div class="row">
                                <div class="col-sm-5 col-xs-6 tital " >First signup</div><div class="col-sm-7 col-xs-6 "> <%= user.created%> </div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-xs-6 tital " >Last Log-in</div><div class="col-sm-7 col-xs-6 "><%= user.login%> </div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                            </div>
                            
                            <div class="row">
                                <div class="col-sm-5 col-xs-6 tital " >Password</div><div class="col-sm-7 col-xs-6 "><%= user.password%> </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>

                </div>
            </div>
        </div>
    </div>
    
    <section class="contact section-bg">
            
        <% if(business) { %>
           <% business.forEach(function(business) { %>
        <div class="section-title" data-aos="fade-up">
            <h2 style="text-align: center; color: indianred;"><%= business.name %></h2>
        </div>
        <div class="row">
            <div class="col-md-12">
              <div class="tile">
                <div class="tile-body">
                  <div class="table-responsive">
                    <table  class="table table-hover table-bordered" id="sampleTable">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Name</th>
                    <th>Nature</th>
                    <th>Email</th>
                    <th>Address</th>
                </tr>
                </thead>
                <tbody>
                   
                    <tr>
                        <td><%= business.date %></td>
                        <td>business</td>
                        <td><%= business.name %></td>
                        <td><%= business.nature %></td>
                        <td><%= business.email %></td>
                        <td><%= business.address %></td>
                    <tr>                                    
                </tbody>
            </table>
            </div>
            </div>
            </div>
            </div>
            </div>

            <h3 style="text-align: center;">PROPRIETOR</h3>
            <div class="row">
                <div class="col-md-12">
                  <div class="tile">
                    <div class="tile-body">
                      <div class="table-responsive">
                        <table  class="table table-hover table-bordered" id="sampleTable">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>D.O.B</th>
                    <th>Gender</th>
                    <th>Nationality</th>
                    <th>Contact</th>
                </tr>
                </thead>
                <tbody>
                    
                        <tr>
                                <td><%= business.proprietor.name %></td>
                                <td><%= business.proprietor.address %></td>
                                <td><%= business.proprietor.email %></td>
                                <td><%= business.proprietor.date %></td>
                                <td><%= business.proprietor.gender %></td>
                                <td><%= business.proprietor.nationality %></td>
                                <td><%= business.proprietor.phone %></td>
                            
                        <tr>                                   
                        
                </tbody>
            </table>
            </div>
            </div>
            </div>
            </div>
            </div>

            
            <h3 style="text-align: center;">PAYMENT</h3>
            <div class="row">
                <div class="col-md-12">
                  <div class="tile">
                    <div class="tile-body">
                      <div class="table-responsive">
                        <table  class="table table-hover table-bordered" id="sampleTable">
                <thead>
                <tr>
                    <th>Reference No</th>
                    <th>Amount (<span>&#8358;</span>)</th>
                </tr>
                </thead>
                <tbody>
                        <tr>
                            <td><%= business.paymentref %></td>
                            <td><%= business.amount %></td>
                        <tr>                                   
                </tbody>
            </table>
        </div>
        </div>
        </div>
        </div>
        </div>

                    
        <h3 style="text-align: center;">ATTACHED DOCUMENTS</h3>
        <div style="display:flex; flex-wrap: wrap;">
            <div class="row">
                <% business.identity.forEach(function(identity){%>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail">
                            <img src="<%= identity%>">
                        </div> 
                    </div>    
                    <% }); %>
            </div>
            
        </div>
        <%  }) %>
        <br>
        <% }  %>

        

        <% if(company) { %>
            <% company.forEach(function(company) { %>
            <div class="section-title" data-aos="fade-up">
                <h2 style="text-align: center; color: indianred;"><%= company.name %></h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <div class="tile">
                    <div class="tile-body">
                      <div class="table-responsive">
                        <table  class="table table-hover table-bordered" id="sampleTable">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Name</th>
                        <th>Nature</th>
                        <th>Shares</th>
                        <th>Address</th>
                    </tr>
                    </thead>
                    <tbody>
                       
                        <tr>
                            <td><%= company.date %></td>
                            <td>company</td>
                            <td><%= company.name %></td>
                            <td><%= company.nature %></td>
                            <td><%= company.shares %></td>
                            <td><%= company.address %></td>
                        <tr>                                    
                    </tbody>
                </table>
                </div>
                </div>
                </div>
                </div>
                </div>

                <h3 style="text-align: center;">DIRECTOR</h3>
                <div class="row">
                    <div class="col-md-12">
                      <div class="tile">
                        <div class="tile-body">
                          <div class="table-responsive">
                            <table  class="table table-hover table-bordered" id="sampleTable">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>D.O.B</th>
                        <th>Gender</th>
                        <th>Nationality</th>
                        <th>Contact</th>
                    </tr>
                    </thead>
                    <tbody>
                        
                            <tr>
                                    <td><%= company.director.name %></td>
                                    <td><%= company.director.address %></td>
                                    <td><%= company.director.email %></td>
                                    <td><%= company.director.date %></td>
                                    <td><%= company.director.gender %></td>
                                    <td><%= company.director.nationality %></td>
                                    <td><%= company.director.phone %></td>
                                
                            <tr>                                   
                            
                    </tbody>
                </table>
                </div>
                </div>
                </div>
                </div>
                </div>


                <h3 style="text-align: center;">SECRETARY</h3>
                <div class="row">
                    <div class="col-md-12">
                      <div class="tile">
                        <div class="tile-body">
                          <div class="table-responsive">
                            <table  class="table table-hover table-bordered" id="sampleTable">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>D.O.B</th>
                        <th>Gender</th>
                        <th>Nationality</th>
                        <th>Contact</th>
                    </tr>
                    </thead>
                    <tbody>
                        
                            <tr>
                                <td><%= company.secretary.name %></td>
                                <td><%= company.secretary.address %></td>
                                <td><%= company.secretary.email %></td>
                                <td><%= company.secretary.date %></td>
                                <td><%= company.secretary.gender %></td>
                                <td><%= company.secretary.nationality %></td>
                                <td><%= company.secretary.phone %></td>
                            <tr>                                   
                            
                    </tbody>
                </table>
                </div>
                </div>
                </div>
                </div>
                </div>

                
                <h3 style="text-align: center;">PAYMENT</h3>
                <div class="row">
                    <div class="col-md-12">
                      <div class="tile">
                        <div class="tile-body">
                          <div class="table-responsive">
                            <table  class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                        <tr>
                            <th>Reference No</th>
                            <th>Amount (<span>&#8358;</span>)</th>
                        </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td><%= company.paymentref %></td>
                                    <td><%= company.amount %></td>
                                <tr>                                   
                        </tbody>
                    </table>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>

                        
            <h3 style="text-align: center;">ATTACHED DOCUMENTS</h3>
            <div class="row">
                <% company.identity.forEach(function(identity){%>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail">
                            <img src="<%= identity%>">
                        </div> 
                    </div>    
                    <% }); %>
            </div>
            <% }) %>
            <br>
            <% }  %>
            

            <% if(incorporate) { %>
                <% incorporate.forEach(function(incorporate) { %>
                <div class="section-title" data-aos="fade-up">
                    <h2 style="text-align: center; color: indianred;"><%= incorporate.name %></h2>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <div class="tile">
                        <div class="tile-body">
                          <div class="table-responsive">
                            <table  class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Category</th>
                            <th>Name</th>
                            <th>Nature</th>
                            <th>Mode</th>
                            <th>Address</th>
                        </tr>
                        </thead>
                        <tbody>
                           
                            <tr>
                                <td><%= incorporate.date %></td>
                                <td>Incorporate and Trustees</td>
                                <td><%= incorporate.name %></td>
                                <td><%= incorporate.nature %></td>
                                <td><%= incorporate.mode %></td>
                                <td><%= incorporate.address %></td>
                            <tr>                                    
                        </tbody>
                    </table>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>

                    <h3 style="text-align: center;">TRUSTEE</h3>
                    <div class="row">
                        <div class="col-md-12">
                          <div class="tile">
                            <div class="tile-body">
                              <div class="table-responsive">
                                <table  class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Email</th>
                            <th>D.O.B</th>
                            <th>Gender</th>
                            <th>Nationality</th>
                            <th>Contact</th>
                        </tr>
                        </thead>
                        <tbody>
                            
                                <tr>
                                    <td><%= incorporate.trustee.name %></td>
                                    <td><%= incorporate.trustee.address %></td>
                                    <td><%= incorporate.trustee.email %></td>
                                    <td><%= incorporate.trustee.date %></td>
                                    <td><%= incorporate.trustee.gender %></td>
                                    <td><%= incorporate.trustee.nationality %></td>
                                    <td><%= incorporate.trustee.phone %></td>
                                <tr>                                   
                                
                        </tbody>
                    </table>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>


                    <h3 style="text-align: center;">CHAIRMAN</h3>
                    <div class="row">
                        <div class="col-md-12">
                          <div class="tile">
                            <div class="tile-body">
                              <div class="table-responsive">
                                <table  class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Email</th>
                            <th>D.O.B</th>
                            <th>Gender</th>
                            <th>Nationality</th>
                            <th>Contact</th>
                        </tr>
                        </thead>
                        <tbody>
                            
                                <tr>
                                    <td><%= incorporate.chairman.name %></td>
                                    <td><%= incorporate.chairman.address %></td>
                                    <td><%= incorporate.chairman.email %></td>
                                    <td><%= incorporate.chairman.date %></td>
                                    <td><%= incorporate.chairman.gender %></td>
                                    <td><%= incorporate.chairman.nationality %></td>
                                    <td><%= incorporate.chairman.phone %></td>
                                <tr>                                   
                                
                        </tbody>
                    </table>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>

                    

                    <h3 style="text-align: center;">SECRETARY</h3>
                    <div class="row">
                        <div class="col-md-12">
                          <div class="tile">
                            <div class="tile-body">
                              <div class="table-responsive">
                                <table  class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Email</th>
                            <th>D.O.B</th>
                            <th>Gender</th>
                            <th>Nationality</th>
                            <th>Contact</th>
                        </tr>
                        </thead>
                        <tbody>
                            
                                <tr>
                                    <td><%= incorporate.secretary.name %></td>
                                    <td><%= incorporate.secretary.address %></td>
                                    <td><%= incorporate.secretary.email %></td>
                                    <td><%= incorporate.secretary.date %></td>
                                    <td><%= incorporate.secretary.gender %></td>
                                    <td><%= incorporate.secretary.nationality %></td>
                                    <td><%= incorporate.secretary.phone %></td>
                                <tr>                                   
                                
                        </tbody>
                    </table>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>

                    
                    <h3 style="text-align: center;">PAYMENT</h3>
                    <div class="row">
                        <div class="col-md-12">
                          <div class="tile">
                            <div class="tile-body">
                              <div class="table-responsive">
                                <table  class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                        <tr>
                            <th>Reference No</th>
                            <th>Amount (<span>&#8358;</span>)</th>
                        </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td><%= incorporate.paymentref %></td>
                                    <td><%= incorporate.amount %></td>
                                <tr>                                   
                        </tbody>
                    </table>
                    </div>
                    </div>
                    </div>
                    </div>
                </div>
                            
                <h3 style="text-align: center;">ATTACHED DOCUMENTS</h3>
                <div class="row">
                    <% incorporate.identity.forEach(function(identity){%>
                        <div class="col-md-3 col-sm-6">
                            <div class="thumbnail">
                                <img src="<%= identity%>">
                            </div> 
                        </div>    
                        <% }); %>
                </div>
                <% }) %>
                <br>
                <% }  %>

               

                <% if(letter) { %>
                    <% letter.forEach(function(letter) { %>
                    <div class="section-title" data-aos="fade-up">
                        <h2 style="text-align: center; color: indianred;"><%= letter.name %></h2>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                          <div class="tile">
                            <div class="tile-body">
                              <div class="table-responsive">
                                <table  class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Category</th>
                                <th>Name</th>
                                <th>Content</th>
                                <th>Contact</th>
                                <th>Email</th>
                                <th>Address</th>
                            </tr>
                            </thead>
                            <tbody>
                               
                                <tr>
                                    <td><%= letter.date %></td>
                                    <td>letter</td>
                                    <td><%= letter.name %></td>
                                    <td><%= letter.content %></td>
                                    <td><%= letter.phone %></td>
                                    <td><%= letter.email%></td>
                                    <td><%= letter.address %></td>
                                <tr>                                    
                            </tbody>
                        </table>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>

                        <h3 style="text-align: center;">PAYMENT</h3>
                        <div class="row">
                            <div class="col-md-12">
                              <div class="tile">
                                <div class="tile-body">
                                  <div class="table-responsive">
                                    <table  class="table table-hover table-bordered" id="sampleTable">
                                <thead>
                                <tr>
                                    <th>Reference No</th>
                                    <th>Amount (<span>&#8358;</span>)</th>
                                </tr>
                                </thead>
                                <tbody>
                                        <tr>
                                            <td><%= letter.paymentref %></td>
                                            <td><%= letter.amount %></td>
                                        <tr>                                   
                                </tbody>
                            </table>
                      </div>
                     </div>
                    </div>
                   </div>
                   </div>
                    <% }) %>
                    <br>
                    <% }  %>

                   

                <% if(will) { %>
                    <% will.forEach(function(will) { %>
                    <div class="section-title" data-aos="fade-up">
                        <h2 style="text-align: center; color: indianred;"><%= will.name %></h2>
                    </div>
                        <div class="row">
                        <div class="col-md-12">
                          <div class="tile">
                            <div class="tile-body">
                              <div class="table-responsive">
                                <table  class="table table-hover table-bordered" id="sampleTable">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Category</th>
                                    <th>Name</th>
                                    <th>Content</th>
                                    <th>Contact</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                </tr>
                                </thead>
                                <tbody>
                                
                                    <tr>
                                        <td><%= will.date %></td>
                                        <td>will</td>
                                        <td><%= will.name %></td>
                                        <td><%= will.content %></td>
                                        <td><%= will.phone %></td>
                                        <td><%= will.email%></td>
                                        <td><%= will.address %></td>
                                    <tr>                                    
                                </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                       </div>
                        <h3 style="text-align: center;">PAYMENT</h3>
                        <div class="row">
                            <div class="col-md-12">
                              <div class="tile">
                                <div class="tile-body">
                                  <div class="table-responsive">
                                    <table  class="table table-hover table-bordered" id="sampleTable">
                                        <thead>
                                        <tr>
                                            <th>Reference No</th>
                                            <th>Amount (<span>&#8358;</span>)</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                    <td><%= will.paymentref %></td>
                                                    <td><%= will.amount %></td>
                                                <tr>                                   
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% }) %>
                    <% }  %>


    </section><!-- End form Section -->

    
</main>
<!-- Essential javascripts for application to work-->
<script src="admin/js/jquery-3.3.1.min.js"></script>
<script src="admin/js/popper.min.js"></script>
<script src="admin/js/bootstrap.min.js"></script>
<script src="admin/js/main.js"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="admin/js/plugins/pace.min.js"></script>
<!-- Page specific javascripts-->
<!-- Data table plugin-->
<script type="text/javascript" src="admin/js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="admin/js/plugins/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">$('#sampleTable').DataTable();</script>
<!-- Google analytics script-->
<script type="text/javascript">
  if(document.location.hostname == 'pratikborsadiya.in') {
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-72504830-1', 'auto');
      ga('send', 'pageview');
  }
</script>
</body>
</html>

