<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Optimal Legal Premium</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- font-awesome script -->
  <script src="https://kit.fontawesome.com/c7394a92be.js" crossorigin="anonymous"></script>
  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Company - v2.1.0
  * Template URL: https://bootstrapmade.com/company-free-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="/"><span>Com</span>pany</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>

          <li class=""><a href="#about-us">About</a></li>
          
          <% if(currentUser && currentUser.isAdmin) { %>
            <li class="drop-down"><a href="#">Admin</a>
              <ul>
                <li><a href="/admin_clients">Clients</a></li>
                <li class="drop-down"><a href="#">Products</a>
                  <ul>
                    <li><a href="/admin_products">Add Product</a></li>
                    <li><a href="/products_advert">Advert</a></li>
                    <li><a href="/products_list">Product List</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          <% } %>

          <li><a href="#services">Services</a></li>
          <li><a href="/user_signup">Signup</a></li>
          <% if(currentUser) { %>
            <li><a href="/user_logout">Logout</a></li>
          <% } else {%>
            <li><a href="/user_login">Login</a></li>
          <% } %>
          <li><a href="/products_advert">Products</a></li>
          <li><a href="#contact">Contact</a></li>
          <% if(currentUser) { %>
            <li><a href="/user_profile?q=<%= currentUser.username%>">Profile</a></li>
          <% } %>

        </ul>
      </nav><!-- .nav-menu -->

      <div class="header-social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div>

    </div>
    <div class="container">
      <% if(message && message.length > 0){ %>
          <div class="alert alert-danger text-center" role="alert">
                <p><%= message %></p>
          </div>
          <% } %>
          <% if(logout && logout.length > 0) { %>
          <div class="alert alert-warning text-center" role="alert">
                <p><%= logout %>. Thank you for visiting our site</p>
          </div>
          <% } %>
          <% if(error && error.length > 0){ %>
          <div class="alert alert-danger text-center" role="alert">
                <p><%= error %></p>
          </div>
          <% } %>
          <% if(success && success.length > 0){ %>
          <div class="alert alert-success text-center" role="alert">
                <p><%= success %></p>
          </div>
          <% } %>
    </div>

  </header><!-- End Header -->