<%- include('partials/header'); -%>

<main id="main">
    <section class="contact section-bg">

    <div class="container" data-aos="fade-up">
        <div class="col-sm-12">
            <div class="white-box section-title">
                <div class="section-title" data-aos="fade-up">
                    <h2>View All Business</h2>
                </div>
                <div class="table-responsive" >
                    <table class="table ">
                        <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Email</th>
                            <th>Business</th>
                            <th>Detail</th>
                        </tr>
                        </thead>
                        <tbody>
                            <% var i = 0 %>
                                <% business.forEach(function(business) { %>
                                    <% if(business.name) { %>
                                        <tr>
                                            <td><%= ++i %></td>
                                            <td><%= business.username %></td>
                                            <td><%= business.password %></td>
                                            <td><%= business.userEmail %></td>
                                            <td><%= business.name %></td>
                                            <td><button class="btn btn-danger"><a class="btn btn-danger" href="/moredetail?q=<%= business._id%>">View Details</a></button></td>
                                        </tr>
                                    <% } %>
                                <% }) %>
                        
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="white-box section-title">
                <div class="section-title" data-aos="fade-up">
                    <h2>View All Companies</h2>
                </div> 
                <div class="table-responsive" >
                    <table class="table ">
                        <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Email</th>
                            <th>Company</th>
                            <th>Detail</th>
                        </tr>
                        </thead>
                        <tbody>
                            <% var i = 0 %>
                                <% company.forEach(function(company) { %>
                                    <% if(company.name) { %>
                                        <tr>
                                            <td><%= ++i %></td>
                                            <td><%= company.username %></td>
                                            <td><%= company.password %></td>
                                            <td><%= company.userEmail %></td>
                                            <td><%= company.name %></td>
                                            <td><button class="btn btn-danger"><a class="btn btn-danger" href="/moredetail?q=<%= company._id%>">View Details</a></button></td>
                                        </tr>
                                    <% } %>
                                <% }) %>
                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section><!-- End form Section -->

</main><!-- End #main -->


<%- include('partials/footer'); -%>
